.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 48px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  width: 130px;
}