.favorite_count{
  color: var(--typography-color-dark);
}

.favorite_btn{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: .25rem;
  display: flex;
  justify-content: center;
  min-width: 23px;
}

.wrapper{
  display: flex;
  gap: .5rem;
  align-items: center;
}
