

.container{
  --size: 12px;
  position: relative;
}

.triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 0 var(--size) var(--size);
  border-color: transparent transparent #fff transparent;
}

.sm {
  --size: 12px;
}

.md {
  --size: 24px;
}