.search_wrapper{
  padding: 12px 0;
}
.search_wrapper:first-child{
  margin-top: 48px;
}

.search_field{
  display: flex;
  flex-direction: row;
  gap: 12px;
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 8px;
}

.search_input{
  width: 100%;
  border: none;
  line-height: 1.1;
  font-size: 1rem;
  outline: none;
}

.search_input::placeholder {
  text-transform: uppercase;
  color: #aaa;
}

.search_result {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.1;
}

.list {
  display: grid;
  grid-template-columns: repeat(14, minmax(auto, 93px));
  gap: .8rem;
}

@media only screen and (max-width: 1280px) {
  .list {
    grid-template-columns: repeat(10, 1fr);

  }
}


@media only screen and (max-width: 991px) {
  .list {
    grid-template-columns: repeat(8, 1fr);

  }
}

@media only screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(4, 1fr);

  }
}


@media only screen and (max-width: 500px) {
  .list {
    grid-template-columns: repeat(4, 1fr);

  }
}

